# dep
node_modules

# cache
.eslintcache

# screeps client always creates this file
*/main.js

# ???
OTHER
.sync
sourceCode
default
default - back
default-test
dist
dist copy
dist copy 2
tutorial-1
test
test default
sim

src/playground
